altgraph==0.17.4
asgiref==3.9.0
charset-normalizer==3.4.2
Django==5.2.4
django-jalali==7.4.0
django-jalali-date==2.0.0
jalali_core==1.0.0
jdatetime==5.2.0
packaging==25.0
pillow==11.3.0
sqlparse==0.5.3
typing_extensions==4.14.0
waitress==3.0.2
whitenoise==6.9.0
tzdata==2025.2
reportlab==4.4.2
pefile==2023.2.7
pillow==11.3.0
filelock==3.18.0
setuptools==80.9.0
arabic-reshaper==3.0.0
python-bidi==0.6.6
num2fawords==1.1
Unidecode==1.4.0